
/* 
Created on: 17 Sep, 2014, 4:29:37 PM
Author: senthil
*/

.ti_tx,
.mi_tx,
.mer_tx {
	width: 100%;
	text-align: center;
	margin: 4px 0;
}

.time,
.mins,
.meridian {
	width: 35px;
	float: left;
	margin: 0 0px;
	font-size: small;
	color: #2d2e2e;
	font-family: inherit;
	font-weight: 100;
}

.prev,
.next {
	cursor: pointer;
	padding: 9px;
	width: 13%;
	border: 1px solid #ccc;
	margin: auto;
	background: url(../images/TimePiciarrow.png) no-repeat;
	border-radius: 3px;
}

.prev:hover,
.next:hover {
	background-color: #ccc;
}

.next {
	background-position: 35% 110%;
}

.prev {
	background-position: 35% -35%;
}

.time_pick {
	position: relative;
}

.timepicker_wrap {
	padding: 6px;
	border-radius: 3px;
	z-index: 998;
	display: none;
	box-shadow: 2px 2px 5px 0 rgba(50,50,50,0.35);
	background: #f6f6f6;
	border: 1px solid #ccc;
	float: left;
	position: absolute;
	top: 17px;
	left: 0;
}

.arrow_top {
	position: absolute;
	top: -6px;
	left: 12px;
	background: url(../images/top_arr.png) no-repeat;
	width: 12px;
	height: 6px;
	z-index: 999;
}
input.timepicki-input {
	background: none repeat scroll 0 0 #FFFFFF;
    	border: 1px solid #CCCCCC;
    	border-radius: 3px 3px 3px 3px;
    	float: none;
    	margin: 0;
    	text-align: center;
    	width: 80%;
}
a.reset_time {
	float: left;
	margin-top: 3px;
	color: #000;
}
